
<style type="text/css">
     .cizgi {
           text-decoration:line-through;
             }    
</style>
<div class="latestproducts">
                    <h4>Latest Products</h4>
					<div class="product-one">
                       
                           
                            @foreach (var item in ViewBag.LatestProduct)
                            {
                                <div class="col-md-4 product-left p-left"> 
							<div class="product-main simpleCart_shelfItem">
								<a href="/Products/Detail/@item.product_id" class="mask"><img class="img-responsive zoom-img" src="/Content/images/@item.product_photo" alt="" /></a>
								<div class="product-bottom">
									
                                     @if (@item.product_name.Length>16)
                                        {
                                            <h3>@item.product_name.Substring(0,15)...</h3>
                                        }
                                        else
                                        {
                                             <h3>@item.product_name</h3>   
                                        }
									<p>Find Out</p>
									 @{
                                decimal price2 = Convert.ToDecimal(@item.product_price);
                                int discount2 = Convert.ToInt16(@item.product_discount);
                                decimal product_discount2 = (@price2 * discount2) / 100;
                                product_discount2 = price2 - product_discount2;
                                }
								
                                    @if (item.product_discount==0)
                                    {                                                                              
                                        <h4 > <a class="item_add" href="#"><i></i></a>  <span class="">@item.product_price $</span></h4> 
                                    <h4>
                                        <br />
                                    </h4>
                                    }
                                    else
                                    {
                                        <h4 class="cizgi"> <span class="">@item.product_price $</span></h4>
                                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">@product_discount2 $</span></h4> 
                                    }
                                                     
								</div>

								   @if (@item.product_discount == 0)
                                    {

                                     }
                                    else
                                    {      
                               <div class="srch">
								<span>- @item.product_discount %</span>
							</div>     
                             }
							</div>
						</div>
                            }
						
                        
                      
						<div class="clearfix"></div>
					</div>
				</div>